ul {
    list-style-type: none;
    overflow: hidden;
    background-color: green;
}

li {
    float: left;
}

li a:hover {
    background-color: blue;
    color: red;
}

li a {
    display: block;
    padding: 10px 10px;
    color: yellow;
}

li a:active {
    padding-right: 5px;
    padding-left: 5px;
}